* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #f2f4f5;
	color: rgb(106, 41, 192);
}

.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: rgb(10, 9, 9);
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;

}
.side-bar {
	width: 290px;
	background: #6d6e76;
	min-height: 92vh;
	transition: 510ms width;
}
.body {
	display: flex;
	width:100%;
	background-image: url("./img/cloud2.jpg.jpg");
	background-size: cover;
	background-position: center;
}

.section-1 h1 {
	color: rgb(15, 8, 8);
	font-size: 20px;
}
.section-1 p {
	color: #127b8e;
	font-size: 20px;
	background: #fff;
	padding: 7px;
	border-radius: 5px;
}
.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#navbtn {
	display: inline-block;
	margin-left: 70px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}
/* Main Body Section */
.main-body{
	width: 70%;
	padding: 1rem;
  }
  .promo_card{
	width: 100%;
	color: #fff;
	margin-top: 10px;
	border-radius: 8px;
	padding: 0.5rem 1rem 1rem 3rem;
	background: rgb(37, 37, 37);
  }
  .promo_card h1, .promo_card span, button{
	margin: 10px;
  }
  .promo_card button{
	display: block;
	padding: 6px 12px;
	border-radius: 5px;
	cursor: pointer;
  }
  .history_lists{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
  }
  table{
	background:rgba(126, 123, 215, 0.3);
	padding: 1rem;
	text-align: left;
	border-radius: 10px;
	box-shadow: 2px 20px 60px -5px rgb(141, 26, 26);
  }
  table td, th{
	padding: 0.4rem 1rem;
  }
  table th{
	font-size: 18px;
  }
  table td{
	font-size: 16px;
	color: rgb(16, 15, 15);
  }
  
  
  
  
/* Sidebar Section */
.sidebar{
	width: 20%;
	padding: 1rem 1rem;
	background: rgba(126, 123, 215, 0.3);
	box-shadow: 2px 20px 60px -5px #fff;;
  }
  
  .sidebar h3{
	margin-bottom: 3rem;
	color:aqua;
  }
  .form-group{
	font-size: 15px;
    margin: 1px;
	color: #f2f4f5; 
  }
  .form-group .input_grp{
	display: flex;
	justify-content: space-between;
}

  .form-group input{
	display: block;
    width: 90%;
    margin-top: 2px;
    background-color: transparent;
    border: 0;
    color: #ebd0ce ; 
    height: 40px;
    font-size: 14px;
    box-shadow: 0 0.3px 0 0 aqua;
    transition: all .5s linear;
  }

 
  .form-group input:focus,
.form-group input:valid{
    outline: none;
    
}
.form-group .submit_btn{
	width: 40%;
	background:rgb(13, 162, 176);
	padding: 8px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	font-size: 10px;
}
.form-group .submit_btn:hover{
	background:linear-gradient(90deg,#2738a5,#11c2cb);
}
  
  
  