@charset "ISO-8859-1";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #f2f4f5;
	color: rgb(106, 41, 192);
}

.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: rgb(10, 9, 9);
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;

}
.side-bar {
	width: 290px;
	background:#6d6e76;
	min-height: 92vh;
	transition: 510ms width;
}
.body {
	display: flex;
	width:100%;
	background-image: url("./img/cloud2.jpg.jpg");
	background-size: cover;
	background-position: center;
}

.section-1 h1 {
	color: rgb(15, 8, 8);
	font-size: 20px;
}
.section-1 p {
	color: #127b8e;
	font-size: 20px;
	background: #fff;
	padding: 7px;
	border-radius: 5px;
}
.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #127b8e;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#navbtn {
	display: inline-block;
	margin-left: 70px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}
/* Main Body Section */
.main-body{
	width: 70%;
	padding: 1rem;
  }
  .promo_card{
	width: 100%;
	color: #fff;
	margin-top: 10px;
	border-radius: 8px;
	padding: 1rem 2rem 2rem 5rem;
	background: rgb(13, 13, 14);
  }
  .promo_card h1, .promo_card span, button{
	margin: 10px;
  }
 
  .promo_card1{
	width: 50%;
	color: #fff;
	margin-top: 6px;
	border-radius: 10px;
	padding: 1rem 0.5rem 0.5rem 1rem;
	background: rgb(10, 21, 172);
  }
  
  
  
  .history_lists{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
  }
  table{
	background-color: rgba(126, 123, 215, 0.3);
	padding: 0.5rem;
	text-align: left;
	border-radius: 10px;
  }
  table td, th{
	padding: 1rem  6rem;
  }
  table th{
	font-size: 15px;
  }
  table td{
	font-style: oblique;
	font-size: 16px;
	color: rgb(17, 15, 15);
  }
  
 table>tbody>tr>td>img{
	display:inline-block;
	width:80px;
	height:80px;
	object-fit:cover;
	border-radius:50%;
 } 
  
  