<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <display-name>Airline-Reservation-JEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerInsertServ</display-name>
    <servlet-name>CustomerInsertServ</servlet-name>
    <servlet-class>com.customer.CustomerInsertServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInsertServ</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Grade1InsertServ</display-name>
    <servlet-name>Grade1InsertServ</servlet-name>
    <servlet-class>com.staff.Grade1InsertServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grade1InsertServ</servlet-name>
    <url-pattern>/grade1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCustomerServ</display-name>
    <servlet-name>LoginCustomerServ</servlet-name>
    <servlet-class>com.customer.LoginCustomerServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCustomerServ</servlet-name>
    <url-pattern>/LloginCustomerServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginGrade1Serv</display-name>
    <servlet-name>LoginGrade1Serv</servlet-name>
    <servlet-class>com.staff.LoginGrade1Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginGrade1Serv</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>
</web-app>